@font-face {
  font-family: 'Lane';src: url("./css/webfonts/LANENAR_.eot");
  font-family: 'Open';src: url("./css/webfonts/OpenSans-Bold.eot");
  font-family: 'Open sans';src: url("./css/webfonts/OpenSans-Regular.eot");
  font-family: 'Socialico';src: url("./css/webfonts/Socialico.eot");
}
