/* line 17, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 98, icons/*.png */
.icons-sprite, .icons-code, .icons-home, .icons-mail2, .icons-profile {
  background: url('../img/icons-sb90826a59b.png') no-repeat; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-code {
  background-position: 0 -80px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-code:hover, .icons-code.code_hover, .icons-code.code-hover {
  background-position: 0 -160px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: 0 -120px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home:hover, .icons-home.home_hover, .icons-home.home-hover {
  background-position: 0 -200px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail2 {
  background-position: 0 0; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail2:hover, .icons-mail2.mail2_hover, .icons-mail2.mail2-hover {
  background-position: 0 -40px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-profile {
  background-position: 0 -240px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-profile:hover, .icons-profile.profile_hover, .icons-profile.profile-hover {
  background-position: 0 -280px; }

@font-face {
  font-family: 'Lane';
  src: url("./webfonts/LANENAR_.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url("./webfonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Open';
  src: url("./webfonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open sans';
  src: url("./webfonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Socialico';
  src: url("./webfonts/Socialico.ttf") format("truetype"), url("./webfonts/Socialico.otf");
  font-weight: normal;
  font-style: normal; }

/* line 28, style.scss */
body {
  font-family: Open sans, Helvetica, Arial, "sans-serif";
  background: transparent url("../img/cream_pixels.png"); }

/* line 33, style.scss */
header {
  background: #111111 url(../img/black_lozenge.png); }

/* line 36, style.scss */
div.contain {
  width: 1200px;
  margin: auto;
  position: relative; }

/* line 42, style.scss */
h1 {
  font: 50px/1.5 Lane, "sans-serif";
  padding: 15px 0px;
  line-height: 70px;
  background-image: url(../img/logoc.png);
  background-repeat: no-repeat;
  background-position: 0px 20px;
  padding-left: 120px; }

/* line 52, style.scss */
h1 + p {
  font: 18px/1.5 Open sans, Helvetica, Arial, "sans-serif" normal;
  color: #eee;
  padding: 40px;
  padding-right: 0;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0px; }
/* line 61, style.scss */
h1 + p > em {
  color: #39AD39; }

/* line 66, style.scss */
h3 {
  padding: 20px 20px 20px 0px;
  font: 22px/1.5 Open sans, Helvetica, Arial, "sans-serif" normal; }

/* line 71, style.scss */
a {
  text-decoration: none;
  color: #39AD39; }

/* line 76, style.scss */
p {
  font-family: Verdana, Helvetica, Arial, "sans-serif"; }

/* line 80, style.scss */
nav {
  background: #484548 url(../img/stripe.png);
  font: 16px/1.5 Open, Montserrat, Helvetica, Arial, "sans-serif"; }
/* line 84, style.scss */
nav > ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  width: 1200px;
  margin: auto;
  text-align: center; }
/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px; }
/* line 48, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav > ul li:first-child, nav > ul li.first {
  padding-left: 0; }
/* line 49, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav > ul li:last-child {
  padding-right: 0; }
/* line 50, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav > ul li.last {
  padding-right: 0; }
/* line 91, style.scss */
nav li {
  border-right: 1px solid #39AD39;
  padding: 0;
  margin: 8px 0; }
/* line 95, style.scss */
nav li > a {
  width: 290px;
  display: block;
  color: #51CF51;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-text-shadow: 0;
  -moz-text-shadow: 0;
  -ms-text-shadow: 0;
  -o-text-shadow: 0;
  text-shadow: 0;
  text-transform: uppercase; }
/* line 106, style.scss */
nav li > a span {
  padding-left: 25px; }
/* line 110, style.scss */
nav li:last-child {
  border: none; }
/* line 113, style.scss */
nav li > a:hover .icons-home {
  -webkit-text-shadow: 0px 0px 2px #FFF;
  -moz-text-shadow: 0px 0px 2px #FFF;
  -ms-text-shadow: 0px 0px 2px #FFF;
  -o-text-shadow: 0px 0px 2px #FFF;
  text-shadow: 0px 0px 2px #FFF;
  background-position: 0 -200px; }
/* line 121, style.scss */
nav li > a:hover .icons-code {
  -webkit-text-shadow: 0px 0px 2px #FFF;
  -moz-text-shadow: 0px 0px 2px #FFF;
  -ms-text-shadow: 0px 0px 2px #FFF;
  -o-text-shadow: 0px 0px 2px #FFF;
  text-shadow: 0px 0px 2px #FFF;
  background-position: 0 -160px; }
/* line 129, style.scss */
nav li > a:hover .icons-mail2 {
  -webkit-text-shadow: 0px 0px 2px #FFF;
  -moz-text-shadow: 0px 0px 2px #FFF;
  -ms-text-shadow: 0px 0px 2px #FFF;
  -o-text-shadow: 0px 0px 2px #FFF;
  text-shadow: 0px 0px 2px #FFF;
  background-position: 0 -40px; }
/* line 137, style.scss */
nav li > a:hover .icons-profile {
  -webkit-text-shadow: 0px 0px 2px #FFF;
  -moz-text-shadow: 0px 0px 2px #FFF;
  -ms-text-shadow: 0px 0px 2px #FFF;
  -o-text-shadow: 0px 0px 2px #FFF;
  text-shadow: 0px 0px 2px #FFF;
  background-position: 0 -280px; }

/* line 149, style.scss */
.h2hid, section#wrapper h2 {
  width: 0;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 9999px; }

/* line 157, style.scss */
section {
  margin-bottom: 20px; }
/* line 161, style.scss */
section h3 {
  border-bottom: 1px solid #39AD39;
  width: 400px;
  margin: 20px 0px 30px;
  text-transform: uppercase; }
/* line 167, style.scss */
section h4 {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #39AD39;
  width: 80%;
  margin: 20px 0px 30px;
  text-transform: uppercase;
  line-height: 33px;
  vertical-align: bottom; }

/* line 177, style.scss */
section#work {
  width: 1200px;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 50px; }
/* line 184, style.scss */
section#work div.contain {
  width: 63%;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #39AD39;
  margin-right: 50px; }
/* line 191, style.scss */
section#work aside {
  width: 28%;
  display: inline-block;
  margin-left: 30px; }
/* line 196, style.scss */
section#work aside li {
  margin: 10px 0px;
  width: 80%; }
/* line 200, style.scss */
section#work aside a {
  padding: 10px 10px;
  display: block;
  padding-left: 40px; }
/* line 205, style.scss */
section#work aside a:hover {
  background-color: rgba(50, 50, 50, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-text-shadow: 0px 0px 2px #111;
  -moz-text-shadow: 0px 0px 2px #111;
  -ms-text-shadow: 0px 0px 2px #111;
  -o-text-shadow: 0px 0px 2px #111;
  text-shadow: 0px 0px 2px #111; }
/* line 218, style.scss */
section#work figure {
  display: inline-block;
  margin-right: 20px;
  position: relative; }
/* line 223, style.scss */
section#work figure figcaption {
  color: #53c653;
  position: absolute;
  bottom: 2px;
  width: 180px;
  padding: 10px;
  background-color: #111;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  height: 20px;
  overflow: hidden; }
/* line 233, style.scss */
section#work figure figcaption > p {
  color: #EEE;
  width: 180px;
  margin-top: 20px;
  font-style: normal; }
/* line 242, style.scss */
section#work figure:hover figcaption {
  height: 180px;
  background: rgba(25, 25, 25, 0.7); }
/* line 247, style.scss */
section#work img {
  width: 200px;
  height: 200px; }

/* line 256, style.scss */
section#present img {
  display: block;
  float: right;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 0px 20px 20px; }
/* line 263, style.scss */
section#present p {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  line-height: 1.5; }

/* line 272, style.scss */
.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }

/* line 276, style.scss */
section#wrapper.cont-up {
  margin-top: 66px; }

/* line 280, style.scss */
section#wrapper {
  margin-top: 20px; }

/* line 288, style.scss */
#wrapper figure {
  position: relative;
  display: inline; }
/* line 291, style.scss */
#wrapper figure img {
  width: 33%;
  height: 33%; }

/* line 298, style.scss */
#wrapper figcaption {
  position: absolute;
  bottom: 1px;
  left: 0;
  color: #EEE;
  background-color: rgba(26, 26, 26, 0.7);
  padding: 0px 0px;
  width: 80%;
  margin: 0 10% 5px; }
/* line 308, style.scss */
#wrapper figcaption > h3 {
  border: none;
  padding: 10px;
  margin: 0;
  text-transform: none;
  font-family: Open, Montserrat, Helvetica, Arial, "sans-serif";
  font-size: 14px; }

/* line 319, style.scss */
footer {
  background: #484548 url(../img/stripe.png);
  text-align: center; }
/* line 324, style.scss */
footer a:hover {
  -webkit-text-shadow: 0px 0px 8px #111;
  -moz-text-shadow: 0px 0px 8px #111;
  -ms-text-shadow: 0px 0px 8px #111;
  -o-text-shadow: 0px 0px 8px #111;
  text-shadow: 0px 0px 8px #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
/* line 335, style.scss */
footer > div.contain > div {
  width: 530px;
  display: inline-block;
  padding: 10px; }
/* line 342, style.scss */
footer .menu {
  font: 18px/1.5 Open, Montserrat, Helvetica, Arial, "sans-serif" normal;
  text-transform: uppercase;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px; }
/* line 48, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .menu li:first-child, footer .menu li.first {
  padding-left: 0; }
/* line 49, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .menu li:last-child {
  padding-right: 0; }
/* line 50, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .menu li.last {
  padding-right: 0; }
/* line 348, style.scss */
footer .menu li:first-child {
  width: 80px; }
/* line 352, style.scss */
footer .menu li {
  width: 110px; }
/* line 354, style.scss */
footer .menu li a {
  color: #53c653; }
/* line 361, style.scss */
footer .socio {
  font: 70px/1.5 'Socialico' normal; }
/* line 364, style.scss */
footer .socio li {
  min-width: 80px; }
/* line 368, style.scss */
footer .socio a {
  color: #bbbbbb;
  text-transform: uppercase;
  -webkit-text-shadow: 1px 1px 1px #DDD, -1px -1px 1px #111;
  -moz-text-shadow: 1px 1px 1px #DDD, -1px -1px 1px #111;
  -ms-text-shadow: 1px 1px 1px #DDD, -1px -1px 1px #111;
  -o-text-shadow: 1px 1px 1px #DDD, -1px -1px 1px #111;
  text-shadow: 1px 1px 1px #DDD, -1px -1px 1px #111;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear; }
/* line 379, style.scss */
footer .socio a:hover {
  text-transform: lowercase;
  color: #2c872c; }
/* line 385, style.scss */
footer .socio ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding-left: 150px; }
/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .socio ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px; }
/* line 48, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .socio ul li:first-child, footer .socio ul li.first {
  padding-left: 0; }
/* line 49, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .socio ul li:last-child {
  padding-right: 0; }
/* line 50, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .socio ul li.last {
  padding-right: 0; }
/* line 390, style.scss */
footer p {
  position: absolute;
  bottom: 20px;
  right: 480px;
  color: #bbbbbb;
  font: 14px/1.5 Open sans, Open sans ms, Helvetica, Arial,'sans-serif'; }
