/* line 17, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 146, icons/*.png */
.icons-sprite, .icons-code, .icons-home, .icons-mail2, .icons-mobile, .icons-pencil, .icons-profile, .icons-wordpress {
  background: url('../img/icons-s5d657337b1.png') no-repeat; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-code {
  background-position: 0 -80px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-code:hover, .icons-code.code_hover, .icons-code.code-hover {
  background-position: 0 -240px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: 0 -160px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home:hover, .icons-home.home_hover, .icons-home.home-hover {
  background-position: 0 -280px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail2 {
  background-position: 0 0; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail2:hover, .icons-mail2.mail2_hover, .icons-mail2.mail2-hover {
  background-position: 0 -40px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mobile {
  background-position: 0 -520px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mobile:hover, .icons-mobile.mobile_hover, .icons-mobile.mobile-hover {
  background-position: 0 -480px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pencil {
  background-position: 0 -360px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pencil:hover, .icons-pencil.pencil_hover, .icons-pencil.pencil-hover {
  background-position: 0 -200px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-profile {
  background-position: 0 -400px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-profile:hover, .icons-profile.profile_hover, .icons-profile.profile-hover {
  background-position: 0 -440px; }

/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-wordpress {
  background-position: 0 -320px; }
/* line 43, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-wordpress:hover, .icons-wordpress.wordpress_hover, .icons-wordpress.wordpress-hover {
  background-position: 0 -120px; }

@font-face {
  font-family: 'Lane';
  src: url("./webfonts/LANENAR_.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url("./webfonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Open';
  src: url("./webfonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open sans';
  src: url("./webfonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Socialico';
  src: url("./webfonts/Socialico.ttf") format("truetype"); }

/* line 22, style.scss */
body {
  font-family: Open sans, Helvetica, Arial, "sans-serif";
  background: transparent url("../img/cream_pixels.png"); }

/* line 27, style.scss */
header {
  background: #111111 url(../img/black_lozenge.png); }

/* line 30, style.scss */
div.contain {
  width: 1200px;
  margin: auto;
  position: relative; }

/* line 36, style.scss */
h1 {
  font: 50px/1.5 Lane, "sans-serif";
  padding: 15px 0px;
  line-height: 70px;
  background-image: url(../img/logoc.png);
  background-repeat: no-repeat;
  background-position: 0px 20px; }
/* line 44, style.scss */
h1 > a {
  display: block;
  padding-left: 120px; }

/* line 50, style.scss */
h1 + p {
  font: 18px/1.5 Open, Montserrat, Helvetica, Arial, "sans-serif";
  color: #eee;
  padding: 40px;
  padding-right: 0;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0px; }
/* line 59, style.scss */
h1 + p > em {
  color: #39AD39; }

/* line 64, style.scss */
h3 {
  padding: 20px 20px 20px 0px;
  font: 22px/1.5 Open sans, Helvetica, Arial, "sans-serif"; }

/* line 69, style.scss */
a {
  text-decoration: none;
  color: #39AD39; }

/* line 75, style.scss */
p {
  font-family: Verdana, Helvetica, Arial, "sans-serif";
  line-height: 1.5;
  margin: 0px 0px 20px 0px; }

/* line 81, style.scss */
nav {
  background: #484548 url(../img/stripe.png);
  font: 16px/1.5 Open, Montserrat, Helvetica, Arial, "sans-serif"; }
/* line 85, style.scss */
nav > ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  width: 1200px;
  margin: auto;
  text-align: center; }
/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px; }
/* line 48, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav > ul li:first-child, nav > ul li.first {
  padding-left: 0; }
/* line 49, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav > ul li:last-child {
  padding-right: 0; }
/* line 50, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav > ul li.last {
  padding-right: 0; }
/* line 92, style.scss */
nav li {
  border-right: 1px solid #39AD39;
  padding: 0;
  margin: 8px 0; }
/* line 96, style.scss */
nav li > a {
  width: 290px;
  display: block;
  color: #51CF51;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  text-transform: uppercase; }
/* line 107, style.scss */
nav li > a span {
  padding-left: 25px; }
/* line 111, style.scss */
nav li:last-child {
  border: none; }
/* line 114, style.scss */
nav li > a:hover .icons-home {
  -webkit-text-shadow: 0px 0px 2px #FFF;
  -moz-text-shadow: 0px 0px 2px #FFF;
  -ms-text-shadow: 0px 0px 2px #FFF;
  -o-text-shadow: 0px 0px 2px #FFF;
  text-shadow: 0px 0px 2px #FFF;
  background-position: 0 -280px; }
/* line 122, style.scss */
nav li > a:hover .icons-code {
  -webkit-text-shadow: 0px 0px 2px #FFF;
  -moz-text-shadow: 0px 0px 2px #FFF;
  -ms-text-shadow: 0px 0px 2px #FFF;
  -o-text-shadow: 0px 0px 2px #FFF;
  text-shadow: 0px 0px 2px #FFF;
  background-position: 0 -240px; }
/* line 130, style.scss */
nav li > a:hover .icons-mail2 {
  -webkit-text-shadow: 0px 0px 2px #FFF;
  -moz-text-shadow: 0px 0px 2px #FFF;
  -ms-text-shadow: 0px 0px 2px #FFF;
  -o-text-shadow: 0px 0px 2px #FFF;
  text-shadow: 0px 0px 2px #FFF;
  background-position: 0 -40px; }
/* line 138, style.scss */
nav li > a:hover .icons-profile {
  -webkit-text-shadow: 0px 0px 2px #FFF;
  -moz-text-shadow: 0px 0px 2px #FFF;
  -ms-text-shadow: 0px 0px 2px #FFF;
  -o-text-shadow: 0px 0px 2px #FFF;
  text-shadow: 0px 0px 2px #FFF;
  background-position: 0 -440px; }

/* line 150, style.scss */
.h2hid, section#wrapper h2 {
  width: 0;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 9999px; }

/* line 158, style.scss */
section {
  margin-bottom: 40px; }
/* line 162, style.scss */
section h3 {
  border-bottom: 1px solid #39AD39;
  width: 500px;
  margin: 0px 0px 30px;
  text-transform: uppercase;
  padding-top: 0; }
/* line 169, style.scss */
section h4 {
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #39AD39;
  width: 80%;
  margin: 0px 0px 30px;
  text-transform: uppercase;
  line-height: 33px;
  vertical-align: bottom; }

/* line 179, style.scss */
section#catwork {
  width: 1200px;
  margin: auto;
  margin-bottom: 50px; }
/* line 185, style.scss */
section#catwork div.contain {
  width: 63%;
  display: inline-block;
  vertical-align: top;
  margin-right: 50px; }
/* line 192, style.scss */
section#catwork figure {
  display: inline-block;
  margin-right: 20px;
  position: relative; }
/* line 197, style.scss */
section#catwork figure figcaption {
  font-family: Open, Montserrat, Helvetica, Arial, "sans-serif";
  color: #53c653;
  border-radius: 20px;
  position: absolute;
  bottom: 2px;
  width: 180px;
  padding: 10px;
  background-color: #111;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 20px;
  overflow: hidden; }
/* line 209, style.scss */
section#catwork figure figcaption > p {
  color: #EEE;
  width: 180px;
  margin-top: 20px;
  font-style: normal; }
/* line 218, style.scss */
section#catwork figure:hover figcaption {
  height: 180px;
  background: rgba(25, 25, 25, 0.7); }
/* line 223, style.scss */
section#catwork img {
  width: 200px;
  height: 200px; }

/* line 229, style.scss */
aside {
  width: 28%;
  display: inline-block;
  margin-left: 30px; }
/* line 235, style.scss */
aside li {
  margin: 10px 0px;
  width: 80%;
  font-family: Open, Montserrat, Helvetica, Arial, "sans-serif"; }
/* line 240, style.scss */
aside a {
  padding: 10px 10px;
  display: block; }
/* line 243, style.scss */
aside a span {
  padding-left: 40px; }
/* line 247, style.scss */
aside a:hover {
  background: rgba(50, 50, 50, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-text-shadow: 0px 0px 2px #111;
  -moz-text-shadow: 0px 0px 2px #111;
  -ms-text-shadow: 0px 0px 2px #111;
  -o-text-shadow: 0px 0px 2px #111;
  text-shadow: 0px 0px 2px #111; }

/* line 261, style.scss */
section#present {
  background: #484548 url(../img/stripe.png);
  color: #eee;
  padding-bottom: 40px;
  padding-top: 40px; }
/* line 268, style.scss */
section#present div.presimg {
  display: inline-block;
  opacity: 0.8;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #111;
  border-radius: 25px;
  border: 5px solid #39AD39; }
/* line 277, style.scss */
section#present div.presimg img {
  padding: 5px;
  border-radius: 25px;
  display: block;
  width: 150px;
  height: 150px; }
/* line 285, style.scss */
section#present p {
  width: 40%;
  display: inline-block;
  line-height: 1.5;
  margin-right: 20px;
  text-align: justify;
  vertical-align: top;
  margin-top: 20px; }
/* line 294, style.scss */
section#present div + p {
  margin-left: 20px;
  margin-right: 0; }
/* line 299, style.scss */
section#present div.trame {
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/trame.png");
  z-index: 10; }

/* line 311, style.scss */
.worked {
  margin-top: 40px; }
/* line 313, style.scss */
.worked img {
  margin: 20px;
  float: left; }
/* line 317, style.scss */
.worked .contain:after {
  content: "";
  clear: both; }

/* line 323, style.scss */
.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }

/* line 327, style.scss */
.cont-up {
  margin-top: 80px; }

/* line 333, style.scss */
section#wrapper.cont-up {
  margin-top: 80px; }

/* line 337, style.scss */
section#wrapper {
  margin-top: 40px; }

/* line 345, style.scss */
#wrapper figure {
  position: relative;
  display: inline; }
/* line 348, style.scss */
#wrapper figure img {
  width: 33%;
  height: 33%; }
/* line 352, style.scss */
#wrapper figure:nth-child(2n+1) figcaption {
  bottom: 42px;
  left: 0;
  margin-bottom: 40px;
  padding: 0; }
/* line 358, style.scss */
#wrapper figure:nth-child(2n) figcaption {
  top: 0;
  right: 0; }

/* line 365, style.scss */
#wrapper figcaption {
  position: absolute;
  max-height: 420px;
  color: #EEE;
  background-color: rgba(26, 26, 26, 0.7);
  padding: 0px 0px;
  width: 25%;
  margin: 40px; }
/* line 374, style.scss */
#wrapper figcaption > h3 {
  border: none;
  padding: 10px;
  margin: 0;
  text-transform: none;
  font-family: Open, Montserrat, Helvetica, Arial, "sans-serif";
  font-size: 14px; }
/* line 382, style.scss */
#wrapper figcaption p {
  padding: 10px; }

/* line 388, style.scss */
footer {
  background: #484548 url(../img/stripe.png);
  text-align: center; }
/* line 393, style.scss */
footer a:hover {
  -webkit-text-shadow: 0px 0px 8px #111;
  -moz-text-shadow: 0px 0px 8px #111;
  -ms-text-shadow: 0px 0px 8px #111;
  -o-text-shadow: 0px 0px 8px #111;
  text-shadow: 0px 0px 8px #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
/* line 404, style.scss */
footer > div.contain > div {
  width: 530px;
  display: inline-block;
  padding: 10px; }
/* line 411, style.scss */
footer .menu {
  font: 18px/1.5 Open, Montserrat, Helvetica, Arial, "sans-serif";
  text-transform: uppercase;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px; }
/* line 48, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .menu li:first-child, footer .menu li.first {
  padding-left: 0; }
/* line 49, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .menu li:last-child {
  padding-right: 0; }
/* line 50, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .menu li.last {
  padding-right: 0; }
/* line 417, style.scss */
footer .menu li:first-child {
  width: 80px; }
/* line 421, style.scss */
footer .menu li {
  width: 110px; }
/* line 423, style.scss */
footer .menu li a {
  color: #53c653; }
/* line 430, style.scss */
footer .socio {
  font: 70px/1.5 'Socialico'; }
/* line 433, style.scss */
footer .socio li {
  min-width: 80px; }
/* line 437, style.scss */
footer .socio a {
  display: block;
  color: #bbbbbb;
  text-transform: uppercase;
  -webkit-text-shadow: 1px 1px 1px #333, -1px -1px 1px #111;
  -moz-text-shadow: 1px 1px 1px #333, -1px -1px 1px #111;
  -ms-text-shadow: 1px 1px 1px #333, -1px -1px 1px #111;
  -o-text-shadow: 1px 1px 1px #333, -1px -1px 1px #111;
  text-shadow: 1px 1px 1px #333, -1px -1px 1px #111;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }
/* line 449, style.scss */
footer .socio a:hover {
  color: #2c872c;
  -webkit-text-shadow: -1px -1px 1px #111, 1px 1px 1px #DDD;
  -moz-text-shadow: -1px -1px 1px #111, 1px 1px 1px #DDD;
  -ms-text-shadow: -1px -1px 1px #111, 1px 1px 1px #DDD;
  -o-text-shadow: -1px -1px 1px #111, 1px 1px 1px #DDD;
  text-shadow: -1px -1px 1px #111, 1px 1px 1px #DDD; }
/* line 460, style.scss */
footer .socio ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding-left: 150px; }
/* line 60, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .socio ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px; }
/* line 48, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .socio ul li:first-child, footer .socio ul li.first {
  padding-left: 0; }
/* line 49, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .socio ul li:last-child {
  padding-right: 0; }
/* line 50, ../../../../../Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .socio ul li.last {
  padding-right: 0; }
/* line 465, style.scss */
footer p {
  position: absolute;
  bottom: 20px;
  right: 480px;
  color: #bbbbbb;
  font: 14px/1.5 Open sans, Open sans ms, Helvetica, Arial,'sans-serif'; }
